<!DOCTYPE html>
<html lang="en">
<head>
    <title>FORMS</title>
</head>
<body>
    <center>
        <h1>This is first Form By using Django</h1>
        
        <form method="POST">
            {% csrf_token %}
            <label for="un">UserName</label>
            <input type="text" name="un" id="un">
            <br></br>
            <label for="pw">Password</label>
            <input type="password" name="pw" id="pw">
            <br></br>
            <button>Submitt</button>
        </form>
    </center>
</body>
</html>